.logo-shooting-stars-section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.logo-shooting-stars-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.falling-logo {
    position: absolute;
    top: -50px;
    width: 30px;
    height: 30px;
    object-fit: contain;
    animation: fall linear forwards;
}

@keyframes fall {
    0% {
        transform: translateY(0) translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateY(calc(100% + 500px)) translateX(-100px);
        opacity: 0;
    }
}